body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

/* Login */
.container {
  width: 300px;
  margin: 100px auto;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #111827;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.main {
  flex: 1;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  gap: 10px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  flex: 1;
}

/* Toast */
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #38bdf8;
  color: black;
  padding: 10px;
  border-radius: 6px;
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .cards {
    flex-direction: column;
  }
}
